button {
  background-color: transparent;
  border: 2px solid $text;
  cursor: pointer;
  font-size: 0.8em;
  letter-spacing: 1pt;
  line-height: 1.4;
  max-width: 150px;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  &:hover {
    background-color: $text;
    color: white;
  }
  &:active, &:focus {
    outline: none !important;
  }
}
.dark {
  button {
    border-color: white;
    color: white;
    &:hover {
      background-color: white;
      color: $text;
    }
  }
}
.field {
  padding-bottom: 16px;
}
input, .input {
  border: 1px solid $text-gray;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 1em;
  padding: 0.5em;
  outline: none !important;
  transition: all 0.3s ease;
  width: 100%;
  &:focus {
      box-shadow: 0 0 0 3px $dark-alpha;
      border: 1px solid $text-gray;
  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $mid-gray;
      opacity: 1; /* Firefox */
  }
  
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $text-gray;
  }
  
  &::-ms-input-placeholder { /* Microsoft Edge */
  color: $text-gray;
  }

  &.danger {
      border-color: $danger !important;
      &:focus, &:active {
          box-shadow: 0 0 0 3px $danger-alpha;
      }
  }
  &.textarea {
      min-height: 200px;
  }
}

label, .label {
  display: block;
  padding-bottom: 8px;
}
