.hero-wrapper,
.hero-wrapper-image {
  width: 100%;
}
.hero-content {
  left: 50%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  .content {
    text-align: center;
    text-shadow: 0 0 4px white;
    p {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .hero-wrapper-image {
    width: 200%;
  }
  .hero-content {
    background-color: $text;
    box-sizing: border-box;
    color: white;
    margin: auto;
    padding: 30px 15px;
    position: static;
    transform: none;
    width: 100%;
    h2 {
      font-size: 2em;
    }
    .content {
      text-shadow: none;
    }
  }
}
