.nav-head {
  padding: 60px 0 30px 0;
  .container {
    align-items: center;
    display: flex;
    text-align: center;
    .logo {
      margin: auto;
      width: 120px;
    }
    .lang {
      height: 36px;
      left: 0;
      position: absolute;
      width: 36px;
    }
  }
}
nav {
  background-color: white;
  // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  .menu {
    justify-content: center;
    display: flex;
    margin: auto;
    max-width: 90%;
    width: 100%;
    .menu-item {
      letter-spacing: 1pt;
      font-size: 0.75em;
      padding: 0 15px;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 767px) {
  .nav-head {
    display: none;
  }
  nav .logo,
  nav .menu {
    display: block;
  }
  nav .menu {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90%;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    .menu-item {
      padding: 10px 0;
    }
  }
}

footer {
  background-color: #fff4f1;
  border-bottom: 4px solid $accent;
  .header {
    letter-spacing: 1pt;
    margin-right: 1em;
    text-transform: uppercase;
  }
  .contact {
    background-color: $accent;
    font-weight: bold;
    padding: 20px;
    .contact-icon {
      color: $text;
      margin-right: 0.5em;
    }
  }
  .social-icon {
    color: $text;
    font-size: 40px;
    height: 35px;
    margin-right: 15px;
    width: 35px;
    &.facebook:hover {
      color: #3b5998;
    }
    &.instagram:hover {
      color: #d6249f;
    }
  }
  .line {
    padding: 20px;
    &:hover {
      background-color: white;
      .social-icon {
        color: #00c300;
      }
    }
    .social-icon {
      margin: 0;
    }
  }
}
