$text: rgb(27, 29, 31);
$text-gray: #7d7f81;
$dark-alpha: rgba(24, 27, 31, 0.2);
$accent: #fab19d;
$accent-dark: #d69482;
$accent-light: #ffd2c6;
$light-gray: rgb(245, 246, 247);
$gray: rgb(238, 239, 240);
$mid-gray: rgb(178, 180, 184);
$dark-gray: rgb(81, 83, 88);
$danger: #a7201b;
$danger-alpha: rgba(167, 32, 27, 0.2);
